body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

header {
  background-color: #005c97;
  color: white;
  padding: 15px 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.sign-in {
  background-color: white;
  color: #005c97;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: larger;
}

.sign-in:hover {
  color: #19c1c7;
}

.search-bar {
  background: white;
  padding: 40px;
  margin: 20px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar form {
  display: flex;
  gap: 10px;
}

.search-input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  background-color: #005c97;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.search-btn:hover {
  background-color: #3498db;
}

.passenger-select {
  display: flex;
  gap: 10px;
  align-items: center;
}

.passenger-btn:hover {
  background-color: #3498db;
}

.passenger-select button {
  padding: 5px 10px;
  background-color: #005c97;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.passenger-select input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.results {
  background: white;
  padding: 20px;
  margin: 20px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.flight-info p {
  margin: 5px 0;
}

.flight-price p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.flight-price button {
  background-color: #005c97;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.flight-price button:hover {
  background-color: #3498db;
}

footer {
  margin-top: 50px;
  background: #005c97;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-item {
  margin: 15px;
  font-size: 0.95em;
  display: flex;
  align-items: center;
  color: #f9f9f9;
}

.footer-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.footer-section {
  text-align: left;
  margin: 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #f1f1f1;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 8px 0;
}

.footer-link {
  font-size: 1em;
  color: #a6d6f5;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #ffffff;
}

.social-links {
  margin-top: 20px;
}

.social-links img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.2);
}

.flight-info .airline-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.airline-logo {
  width: 150px;
  height: auto;
}
