
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


header {
  background-color: #005c97;
  color: white;
  padding: 15px 0;
  min-height: 100px;
}

header h1 {
  margin: 10px 30px 5px;
  font-size: 24px;
}

.sign-in {
  background-color: white;
  color: #005c97;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: larger;
  margin: 10px 10px 5px 30px;
}

.sign-in:hover {
  color: #19c1c7;
}


.booking-details {
  background: rgb(213, 214, 163);
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin-top: 50px;
}

.booking-details form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.booking-details h3 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #005c97;
}

form label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

form input,
form select {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto 15px; 
}

.submit-btn {
  background-color: #005c97;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  width: 90%; 
  margin: 0 auto; 
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #3498db;
}


footer {
  margin-top: 50px;
  background: #005c97;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-item {
  margin: 15px;
  font-size: 0.95em;
  display: flex;
  align-items: center;
  color: #f9f9f9;
}

.footer-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.footer-section {
  text-align: left;
  margin: 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #f1f1f1;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 8px 0;
}

.footer-link {
  font-size: 1em;
  color: #a6d6f5;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #ffffff;
}

.social-links {
  margin-top: 20px;
}

.social-links img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-links img:hover {
  transform: scale(1.2);
}
