body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.seat-container {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  /* 6 columns per row */
  grid-gap: 10px;
  margin: 20px;
}

.seat {
  width: 50px;
  height: 50px;
  background-color: #d3d3d3;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background-color: #4caf50;
}

.seat.booked {
  background-color: #f44336;
  cursor: not-allowed;
}

.seat:hover:not(.booked) {
  background-color: #bbb;
}

.seat-info {
  margin-top: 20px;
}

.seat-info p {
  margin: 5px 0;
}

.seat-info .btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.seat-info .btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
